*{
    margin: 0;
    padding: 0;
}
.btn {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;    
}
.btn {
    background-color: brown;
}
.btn:hover {
    background-color: crimson;
}